<nav class="navbar">
  <a routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
  <a routerLink="/categorias" routerLinkActive="active">Categorias</a>
  <a routerLink="/produtos" routerLinkActive="active">Produtos</a>
  <a routerLink="/disponiveis" routerLinkActive="active">Disponíveis</a>
  <a routerLink="/enderecos" routerLinkActive="active">Enderecos</a>
  <a routerLink="/pedidos" routerLinkActive="active">Pedidos</a>
  <a routerLink="/entrega" routerLinkActive="active">Entrega</a>
</nav>

<div class="container grid">
  <router-outlet />
</div>
